{
  "singleQuote": true,
  "semi": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "printWidth": 120,
  "useTabs": true,
  "tabWidth": 4,
  "endOfLine": "crlf",
  "trailingComma": "all"
}
